# Token verification

![Sequence diagram](token-verify.drawio.png "Product CRUD")
